*{
    box-sizing: border-box;
}
.SideNav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    background-color: white;
    height: 100%;
    width: 240px;
}
.FixedContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px 8px;
}

.logo {
    object-fit: cover;
    width: 118px;
    height: 42px;
}

//
.MainNavContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}